{% extends "background-wall.html" %}

{% block header %}
<script src="/static/scripts/index-script.js"></script>
<link rel="stylesheet" href="/static/index-stylesheet.css"/>
{% endblock %}

{% block content %}
<div id="all-encompassing-root">
<div id="content-root">
	{% csrf_token %}
	<div id="main-content">
		<!-- Tab headers -->
		<div id="tab-container">
			<div class="tab-item hidden-tab">
				<p>Select Simulation</p>
			</div>
			<div class="tab-item hidden-tab">
				<p>Create Simulation</p>
			</div>
			<div class="tab-item hidden-tab">
				<p>Source Files</p>
			</div>
		</div>
		<!-- Tab frames -->
		<div id="tab-window">
			<!-- Select simulation tab -->
			<div id="select-sim-frame" class="tab-frame inactive-frame">
				<div id="select-sim-item-container">

				</div>
			</div>
			<!-- Create simulation tab -->
			<div id="create-sim-frame" class="tab-frame inactive-frame">
				<div id="create-form-container">
					<div id="create-form">
						<div class="row-fill">
							<div class="row-element">
								<label for="name">Simulation Name</label> 
								<input type="text" placeholder="Simulation Name" id="input-create-name" name="name">
							</div>
							<div class="row-element row-padding"></div>
							<div class="row-element">
								<label>Backend Version</label> 
								<form class="radio-flip">
									<div>
										<label for="input-radio-cm4">
											<input id="input-radio-cm4" class="" type="radio" name="version" value="CellModeller4" checked>
											<div>CellModeller4</div>
										</label>
										<label for="input-radio-cm5">
											<input id="input-radio-cm5" class="" type="radio" name="version" value="CellModeller5">
											<div>CellModeller5</div>
										</label>
									</div>
								</form>
							</div>
						</div>
						<div class="row-fill">
							<div class="row-element">
								<label for="name">Source file</label> 
								<select id="select-simulation-src-file">
									
								</select>
							</div>
							<div class="row-element row-padding"></div>
							<div class="row-element">
							</div>
						</div>
					</div>
	
					<div class="row-push">
						<button id="create-button" class="submit-button">Create Simulation</button>
					</div>
					
				</div>
			</div>
			<!-- Create/Select source file tab -->
			<div id="create-src-frame" class="tab-frame inactive-frame">
				<label for="name">Create Source File</label> 
				<div class="row-fill" style="margin-top:0.1rem;margin-bottom:1rem;">
					<input id="input-create-source" style="margin-right:1rem" type="text" placeholder="File Name" name="name">
					<button id="create-source-button" class="submit-button" style="width:15rem;height:3.125rem">Create Source File</button>
				</div>
				<label for="name">Select Source File</label>
				<div id="select-src-item-container">

				</div>
			</div>
		</div>
	</div>
</div>
<div id="dialog-layer" style="display: none;">
	<div id="dialog-window">
		<div>
			<div>Dialog Window</div>
			<div id="dialog-message">
				Would you like to delete simulation?
			</div>
		</div>
		<div>
			<button class="plain-button small-button" onclick="closeDialog()">Cancel</button>
			<button class="submit-button small-button" onclick="handleAcceptDelete(this)">Accept</button>
		</div>
	</div>
</div>
</div>
{% endblock %}