@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

p {
	margin: 0;
	padding: 0;
}

.row {
	display: flex;
	flex-direction: row;

	align-items: center;
}

.row-fill {
	display: flex;
	flex-direction: row;

	justify-content: stretch;
	align-items: center;
}

.row-push {
	display: flex;
	flex-direction: row;

	justify-content: space-between;
	align-items: center;
}

.row-element {
	width: 100%;
	padding-bottom: 1rem;
}

.row-padding {
	width: 1rem;
}

#all-encompassing-root {
	position: relative;
	width: 100%;
	height: 100%;

	overflow: hidden;
	
	font-family: "Poppins", sans-serif;
}

#dialog-layer {
	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.2);
}

#dialog-window {
	display: flex;
	flex-direction: column;

	width: 25rem;
	height: 15rem;
	
	background-color: white;
	box-shadow: 0 0 2px 0 #777;
}

#dialog-window > div:nth-child(1) {
	display: flex;
	flex-direction: column;

	padding: 0.7rem;

	flex: 1;
}

#dialog-window > div:nth-child(1) > div:nth-child(1) {
	text-align: center;
	font-weight: 600;
	padding-bottom: 0.2rem;
}

#dialog-window > div:nth-child(2) {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	padding: 0.7rem;
	background-color: #B0B0B0;

	border: solid #8F8F8F 0;
	border-top-width: 1px;
}

#dialog-message {
	flex: 1;
	font-weight: 100;
}

#content-root {
	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#main-content {
	display: flex;
	flex-direction: column;

	width: 40rem;
	height: 40rem;

	box-sizing: border-box;
	box-shadow: 0 0 8px 0 #888888;

	background-color: white;
}

#tab-container {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.tab-item {
	display: flex;
	justify-content: center;

	flex: 1;

	padding: 1rem;
}

.hidden-tab {
	background-color: #DDD;
	border-bottom: 1px solid #BBB;
	
	cursor: pointer;
}

.hidden-tab:hover {
	background-color: #CCC;
}

#tab-window {
	position: relative;
	flex: 1;
}

.tab-frame {
	position: absolute;

	left: 0;
	right: 0;
	width: 100%;
	height: 100%;

	box-sizing: border-box;
}

.inactive-frame {
	display: none !important;
}

#sim-list {
	display: block;
}

#create-sim-frame {
	padding: 1rem;
}

#create-form-container {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
}

#create-form {
	flex-grow: 1;
}

input[type="text"] {
	display: block;
	width: 100%;
	height: 3.125rem;

	background-color: rgba(0, 0, 0, 0.07);
	border: none;
	border-radius: 3px;
	outline: none;
	box-sizing: border-box;

	padding: 0 0.625rem;
	margin-top: 0.5rem;

	font-size: 0.875rem;
	font-weight: 300;
	letter-spacing: 0.5px;
}

.radio-flip {
	display: block;
	width: 100%;
	height: 3.125rem;

	background-color: rgba(0, 0, 0, 0.07);
	border: none;
	border-radius: 3px;
	outline: none;
	box-sizing: border-box;

	margin-top: 0.5rem;

	font-size: 0.875rem;
	font-weight: 300;
	letter-spacing: 0.5px;

	overflow: hidden;
}

.radio-flip div {
	display: flex;
	flex-direction: row;

	width: 100%;
	height: 100%;
}

.radio-flip div label {
	flex-grow: 1;
	cursor: pointer;
}

.radio-flip div label input[type="radio"] {
	display: none;
	left: 0;

	padding: 0;
	margin: 0;
}

.radio-flip div label input[type="radio"] + div {
	justify-content: center;
	align-items: center;

	font-weight: 300;
	font-size: 1rem;
}

.radio-flip div label input[type="radio"]:hover + div {
	background-color: #DDD;
}

.radio-flip div label input[type="radio"]:checked + div {
	background-color: #699174;
}

.small-button {
	width: 8rem !important;
	padding: 0.8rem 0 !important;
}

.submit-button {
	width: 10rem;
	
	background-color: #78a483;
	border: none;
	border-radius: 4px;
	outline: none;
	text-align: center;

	padding: 0.9rem 0;
	
	font-size: 1rem;
	font-weight: 600;
	color: black;

	cursor: pointer;

	/*box-shadow: 0 0 2px 0 #777;*/
}

.submit-button:hover {
	background-color: #699174;
}

.submit-button:active {
	background-color: #577960;
}

.plain-button {
	width: 10rem;
	
	background-color: #DDD;
	border: none;
	border-radius: 4px;
	outline: none;
	text-align: center;

	padding: 0.9rem 0;
	
	font-size: 1rem;
	font-weight: 600;

	cursor: pointer;

	/*box-shadow: 0 0 2px 0 #777;*/
}

.plain-button:hover {
	background-color: #CCC;
}

.plain-button:active {
	background-color: #BBB;
}

#upload-file-name {
	max-width: 15rem;
	max-height: 4rem;
	overflow: hidden;

	margin-left: 0.5rem;
	overflow-wrap: break-word;
}

.incorrect-field {
	border: 1px solid red !important;
	box-shadow: 0 0 2px 0.1px red;
}

#select-sim-frame {
	display: flex;
	flex-direction: column;

	padding: 1rem;
}

#select-sim-item-container {
	width: 100%;
	height: 100%;

	border: solid #aaa 1px;
	background-color: #ddd;
	overflow: auto;
}

.select-sim-item {
	display: flex;
	flex-direction: row;

	margin: 0.5rem;
	padding: 0.7rem;
	border-radius: 3px;
	box-shadow: 0 0 4px 1px #ccc;

	background-color: #fff;
}

.select-sim-labels {
	flex: 1;
	height: 3rem;
}

.select-sim-labels p:nth-child(1) {
	font-size: 1.1rem;
}

.select-sim-labels p:nth-child(2) {
	font-weight: 100;
	font-size: 0.9rem;
	line-height: 0.9rem;
}

.select-sim-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.select-sim-button {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 2rem;
	height: 2rem;

	border-radius: 0.2rem;
	margin: 0 0.2rem;

	cursor: pointer;
}

.sim-button-view {
	background-color: #78a483;
	/*box-shadow: 0 0 2px 0 #60866a;*/
}

.sim-button-other {
	background-color: #CCC;
}

.shape-right-arrow { 
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;

	transform: translateY(-0.1rem) rotate(-45deg) translateX(-0.1rem);
	-webkit-transform: translateY(-0.1rem) rotate(-45deg) translateX(-0.1rem);

	border: solid black;
	border-width: 0 3px 3px 0;
}

.shape-cross {
	display: inline-block;
	width: 1.2rem;
	height: 0;

	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);

	border: solid black;
	border-width: 0 0px 3px 0;
}

.shape-cross::after { 
	content: "";
	display: inline-block;
	
	width: 1.2rem;
	height: 0;

	transform: translateY(-0.95rem) rotate(90deg);
	-webkit-transform: translateY(-0.95rem) rotate(90deg);

	border: solid black;
	border-width: 0 0px 3px 0;
}